In [36]:
import pandas as pd

data = {
    "itemsWithoutLocation":
    [{"deptNbr":65,
    "deptName":"MEAT",
    "items":
        [{"itemNbr":55555555,
        "upc":"55555555",
        "prodDesc":"Tyson",
        "prodPrice":19.38},
        {"itemNbr":55555555,
        "upc":"55555555",
        "prodDesc":"Great Value product",
        "prodPrice":16.08}]},
    {"deptNbr":66,
    "deptName":"PRODUCE",
    "items":
        [{"itemNbr":55555555,
        "upc":"55555555",
        "prodDesc":" each",
        "prodPrice":1.08},
        {"itemNbr":55555555,
        "upc":"55555555",
        "prodDesc":"Gala ",
        "prodPrice":1.09},
        {"itemNbr":55555555,
        "upc":"55555555",
        "prodDesc":"Granny Smith",
        "prodPrice":1.09}]},
    {"deptNbr":67,
    "deptName":"BAKERY",
    "items":
        [{"itemNbr":55555555,
        "upc":"55555555",
        "prodDesc":"Freshness Guaranteed product",
        "prodPrice":8.24}]}]
}

entries = data["itemsWithoutLocation"]

# loop through all the entries and create a single dataframe holding every item from each department

df = pd.DataFrame()
for entry in entries:
    df = pd.concat([df, pd.DataFrame(entry["items"])])

print(df)

df.nlargest(3, 'prodPrice')

    itemNbr       upc                      prodDesc  prodPrice
0  55555555  55555555                         Tyson      19.38
1  55555555  55555555           Great Value product      16.08
0  55555555  55555555                          each       1.08
1  55555555  55555555                         Gala        1.09
2  55555555  55555555                  Granny Smith       1.09
0  55555555  55555555  Freshness Guaranteed product       8.24

    itemNbr       upc                      prodDesc  prodPrice
0  55555555  55555555                         Tyson      19.38
1  55555555  55555555           Great Value product      16.08
0  55555555  55555555  Freshness Guaranteed product       8.24